<div class="container">
  <button type="button" class="button btn btn-light" (click)="assignGuest()">
    <span translate>add</span>
  </button>
  <div class="table">
    <div
      class="table__item table__item_header"
      [ngStyle]="{
        'grid-row': 1
      }"
    >
      <span
        class="table__item_span"
        [ngStyle]="{
          'grid-column': 1
        }"
        >Id</span
      >
      <span
        class="table__item_span"
        [ngStyle]="{
          'grid-column': 2
        }"
        >Name</span
      >
      <span
        class="table__item_span"
        [ngStyle]="{
          'grid-column': 3
        }"
        >Surname</span
      >
      <span
        class="table__item_span"
        [ngStyle]="{
          'grid-column': 4
        }"
        >Gender</span
      >
      <span
        class="table__item_span"
        [ngStyle]="{
          'grid-column': 5
        }"
        >Age</span
      >
      <span
        class="table__item_span"
        [ngStyle]="{
          'grid-column': 6
        }"
        >Drink</span
      >
    </div>
    <div class="table__content">
      <div
        *ngFor="let guest of guests; let i = index"
        class="table__item"
        [ngStyle]="{
          'grid-row': i + 2
        }"
      >
        <span
          *ngFor="let property of getValues(guest); let j = index"
          class="table__item_span"
          [ngStyle]="{
            'grid-column': j + 1
          }"
          >{{ property }}</span
        >
        <span class="table__item_span">
          <button type="button" class="table__item-button btn btn-light" (click)="assignGuest(guest)">
            <span translate>edit</span>
          </button>
          <button type="button" class="table__item-button btn btn-light" (click)="deleteGuest(id)">
            <span translate>x</span>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<ng-template #modal let-modal class="modal">
  <div class="modal-header">
    <h4 class="modal-title">Add guest</h4>
    <button
      type="button"
      class="close modal__button"
      aria-label="Close"
      (click)="modal.close('Cross click'); myForm.reset()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" [class.submitted]="clickBtn" class="form">
      <input type="text" class="form-control" formControlName="name" placeholder="name: " />
      <input type="text" class="form-control" formControlName="surname" placeholder="surname: " />
      <input type="text" class="form-control" formControlName="gender" placeholder="gender: " />
      <input type="text" class="form-control" formControlName="age" placeholder="age: " />
      <input type="text" class="form-control" formControlName="drink" placeholder="drink: " />
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light modal__button" (click)="modal.close('Close click'); myForm.reset()">
      Close
    </button>
    <button type="submit" class="btn btn-light modal__button" (click)="formSubmit(myForm)">Assign</button>
  </div>
</ng-template>
